.jetbrains-mono-<uniquifier > {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
body {
    background-color: #FFFFF;
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    padding: 20px;
}
.hl {
    font-family: "JetBrains Mono", monospace;
    color: #1b2432;
    font-size: 72px;
}
