body {
    background-color: #121420
    font-family: "Monaspace", "Argon", NF;
    padding: 20px;
    font-size: 16px;
}
hl {
    font-family: "JetBrains Mono", "Nerd Font", monospace;
    color: #1B2432
    font-size: 72px;
}
